*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

body {
    font-family: "Helvetica Neue", Helvetica;
    background-image: url(imagens/cenario.gif); 

    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 5, 5);
}

header {
    height: 150px;
    background-color: rgba(79, 138, 138, 0.5);
    color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
   height: 100%;
   width: 100%;
}

main .cidade {
    display: flex;
    justify-content: center;

    align-items: center; 
    padding-top: 50px;
}


main .formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

main .form-cidade {
    height: 40px;
    width: 400px;

    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

main .resultado {
    display: flex;
    justify-content:center;
    flex-direction: column; 

    margin-top: 20px;
    font-size: 3rem;
}

main .resultado .cidadeAtual{
    display: flex;
    justify-content:center;
}

main .resultado .tempAtual {
    display: flex;
    justify-content: center;

    background-image: url(imagens/maxima.jpg);
    height:100%;    
}

main .resultado .minima { 
    background-image: url(imagens/minima.png);
    background-repeat: no-repeat;
    background-size: contain;

    background-position: right;
    padding-right: 60px;
}

main .resultado .maxima { 
    background-image: url(imagens/maxima.png);
    background-repeat: no-repeat;
    background-size: contain;

    background-position: right;
    padding-right: 60px;
}

main .resultado .maxMin {
    display: flex;
    justify-content:space-around;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

     height: 150px;
     width: 100%;

     position:fixed;
     bottom: 0;
     background-color: rgba(79, 138, 138, 0.5);
     color: black;
}


/*  RESPONSIVIDADE  */


@media(max-width:1200px) {
    body {
        background-size: cover;
        background-attachment: fixed;
    } 
}

@media(max-width:700px) {
    main .resultado,
    main .tempAtual {
        font-size: 2rem;    
    }
}

@media(max-width:500px) {
        main .form-cidade{
            width: 250px;
        }
        main .maxMin{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }  
}